<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Coders - Room 2</h1>
                    <h3>We are going to the MOON!</h3>
                    <hr class="intro-divider">
                    <h3>Nana Kofi Djan</h3>
                    <h3>Joao Joseph Baeta</h3>
                    <h3>Angel Jasmine Captan</h3>
                    <h3>Miriam Boateng</h3>
                    <h3>Selom Ackummey</h3>
                    <h3>Luka Khan Maliah</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}